<h1><%= "#{@user.first_name} show page" %></h1>

<h3><%= "Information on #{@user.state.place_name}" %></h3>

  <div class="well">
    <div class="form-group">
      <h5><%= "Population: #{@user.state.pop}" %></h5>
    </div>

    <div class="form-group">
      <h5><%= "Percent Change since 2000: #{@user.state.pct_change}" %></h5>
    </div>

    <div class="form-group">
      <h5><%= "Population per square mile: #{@user.state.pop_sq_mi}" %></h5>
    </div>

    <div class="form-group">
      <h5><%= "State Abbreviation: #{@user.state.state_postal}" %></h5>
    </div>
  </div>
